.ink-ctrl-btns {
    padding: .4rem;
    display: flex;
    overflow: auto;
    flex-shrink: 0;
}

.ink-button {
    white-space: nowrap;
    font-size: 1rem;
    margin: 0.2rem;
    display: inline-flex;
    justify-content: center;
    align-content: space-evenly;
    gap: 0.1rem;
    padding: 0.4rem;
    background-color: #eee;
    border-radius: 0.4rem;
    border: 2px solid transparent;
    transition: color 0.2s, border 0.2s;
}

.ink-button:not(:disabled) {
    cursor: pointer;
}

.ink-button:not(:disabled):hover,
.ink-button.toggled {
    background-color: #fcfcfc;
    border-color: black;
}

.ink-button:disabled {
    background-color: #ddd;
    color: #444;

}