#writr-ctrl-buttons {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 0.6rem;
    padding-bottom: 0.2rem;
    display: flex;
    gap: 0.4rem;
    align-items: center;
    background-color: white;
}

#writr-ctrl-buttons button {
    line-height: 1rem;
}

.writr-ctrl-separator {
    height: 100%;
    width: 0.15rem;
    background-color: rgb(204, 204, 204);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#writr-ctrl-cancel {
    margin-left: auto;
}

@media screen and (max-aspect-ratio: 1/1) {
    .writr-ctrl-separator {
        display: none;
    }
}

.writr-ctrl-dropdown {
    overflow: visible;
}

#writr-ctrl-buttons>.button {
    height: 100%;
}

.writr-ctrl-dropdown-menu {
    position: absolute;
    right: auto;
    bottom: auto;
    left: auto;
    top: 3.2rem;
    border: 2px solid black;
    background-color: white;
    outline: 2px solid white;
    z-index: 1;
    display: none;
    min-width: 20ch;
}

.writr-ctrl-dropdown-menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-inline-start: 0;
    padding: 0.2rem;
    margin: 0;
    gap: 0.5rem;
}

.writr-ctrl-dropdown-menu {
    cursor: default;
    pointer-events: all;
    display: none;
}

.writr-ctrl-dropdown-menu .button {
    width: 100%;
    border: none;
    text-align: left;
}

.writr-ctrl-dropdown-menu .button:hover {
    background-color: #ddd;
}

#writr-ctrl-buttons .disabled {
    pointer-events: none;
    filter: brightness(0.8);
}

.writr-dropdown-label {
    text-align: center;
    width: 100%;
    display: inline-block;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    background-color: black;
    color: white;
    border-bottom: 2px solid white;
}

.writr-ctrl-dropdown {
    user-select: none;
}