#ink-ctrl-buttons {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    background-color: #ddd;
    flex-direction: column;
    padding: 0.4rem;
    overflow: auto;
    min-width: 20ch;
    z-index: 2;
}

.ink-ctrl-separator {
    height: 100%;
    width: 0.15rem;
    background-color: rgb(204, 204, 204);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#ink-editor-root:not(.vertical) #ink-ctrl-prompt {
    margin-left: auto;
}

#ink-editor-root.prompts-disabled #ink-ctrl-prompt {
    display: none;
}

#ink-ctrl-buttons>.button {
    max-height: 2.5rem;
    border: 2px solid transparent;
    background: white;
    width: 100%;
    transition-duration: 0.2s;
}

#ink-ctrl-buttons.vertical>.button {
    height: 3rem;
    width: 3rem;
}

#ink-ctrl-buttons.vertical>.button.controls-toggle-button {
    display: none;
}

#ink-ctrl-buttons.vertical {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#ink-ctrl-exit {
    margin-top: auto;
}

#controls-button-wrapper {
    display: none;
}

#controls-button-wrapper .button {
    margin: 0.2rem;
    transition-duration: 0.2s;
    border: 2px solid transparent;
}

@media screen and (max-aspect-ratio: 1/1) {
    .ink-ctrl-separator {
        display: none;
    }
}

.ink-ctrl-dropdown {
    overflow: visible;
}

#ink-ctrl-buttons .disabled {
    pointer-events: none;
    filter: brightness(0.8);
}

.ink-dropdown-label {
    text-align: center;
    width: 100%;
    display: inline-block;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    background-color: black;
    color: white;
    border-bottom: 2px solid white;
}

.ink-ctrl-dropdown {
    user-select: none;
}

@media (hover: hover) {
    #ink-ctrl-buttons .button:hover {
        border-color: black;
    }

    #controls-button-wrapper .button:hover {
        border-color: black;
    }
}

.button.controls-toggle-button {
    display: none;
}

@media screen and (max-aspect-ratio: 1/1) {
    #ink-editor-root:not(.vertical) #ink-ctrl-buttons {
        position: fixed;
        left: 0;
        height: calc(100% - 0.8rem);
        top: 0;
        border-right: 2px solid black;
    }

    #ink-editor-root:not(.vertical) #ink-ctrl-buttons.mobile-hidden {
        display: none;
    }

    #ink-editor-root:not(.vertical) #controls-button-wrapper {
        display: block;
    }

    .button.controls-toggle-button {
        display: block;
    }
}

@keyframes slide-in {
    from {
        left: -100%;
    }

    to {
        left: 0;
    }
}

@keyframes slide-out {
    from {
        left: 0;
    }

    to {
        left: -100%;
    }
}