.writr-ctrl-tab-button {
    border-color: black;
    transition-duration: 0.2s;
}

.writr-ctrl-tab-button:hover {
    background-color: black;
    color: white;
}

.writr-ctrl-tab-button:first-child {
    border-left-width: 2.5px;
}

.writr-ctrl-tab-button:last-child {
    border-right-width: 2.5px;
}

.writr-ctrl-tab-content {
    display: none;
    margin-top: 0.5rem;
    gap: 0.2rem;
}

.writr-ctrl-tab-content>.button{
    background-color: #eee;
    display: inline-block;
    border: 2px solid white;
}

.writr-ctrl-tab-content>.button:hover {
    background-color: white;
    border: 2px solid black;
}

.writr-ctrl-tab-button.selected {
    border: 2.5px solid black;
    transform: translate(0, 2.5px);
    background-color: black;
    color: white;
}

#writr-controls {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 0.6rem;
    padding-bottom: 0.2rem;
}

#writr-ctrl-buttons {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    background-color: white;
}

#writr-ctrl-buttons button {
    line-height: 1rem;
}

.writr-ctrl-separator {
    height: 100%;
    width: 0.15rem;
    background-color: rgb(204, 204, 204);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#writr-ctrl-prompt {
    margin-left: auto;
}

@media screen and (max-aspect-ratio: 1/1) {
    .writr-ctrl-separator {
        display: none;
    }
}

.writr-ctrl-dropdown {
    overflow: visible;
}

#writr-ctrl-buttons>.button {
    height: 100%;
}

#writr-ctrl-buttons .disabled {
    pointer-events: none;
    filter: brightness(0.8);
}

.writr-dropdown-label {
    text-align: center;
    width: 100%;
    display: inline-block;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    background-color: black;
    color: white;
    border-bottom: 2px solid white;
}

.writr-ctrl-dropdown {
    user-select: none;
}