#ink-preview {
    margin: 0.2rem;
    line-height: 1.4;
    padding: 1rem;
    display: none;
    overflow-y: scroll;
}

#ink-preview blockquote {
    border-left: 2px solid gray;
    margin-inline-start: 1rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
}

#ink-preview pre {
    overflow: auto;
    border-left: 2px solid black;
    padding: 1rem;
}

#ink-preview pre,
#ink-preview code {
    font-family: inherit;
}

#ink-preview code {
    border-radius: 0.2rem;
    padding: 0.2rem;
    color: rgb(24, 89, 24);
}

#ink-preview pre>code {
    padding: 0;
}

#ink-preview li.checkbox[checked=true]::marker {
    content: '󰱒 ';
    color: gray;
    font-family: 'NerdFont';
}

#ink-preview li.checkbox[checked=false]::marker {
    color: gray;
    content: '󰄱 ';
    font-family: 'NerdFont';
}

#ink-preview .img-wrapper {
    display: flex;
}

#ink-preview .img-wrapper>a {
    border: 2px solid black;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    gap: 1rem;
    flex-grow: 0;
}

#ink-preview h1 {
    font-size: 1.6rem;
}

#ink-preview h2,
#ink-preview h3,
#ink-preview h4,
#ink-preview h5,
#ink-preview h6 {
    font-size: 1.2rem;
}