#writr-bio {
    margin: 0.2rem;
    line-height: 1.4;
    padding: 1rem;
    display: none;
    overflow-y: scroll;
}

#writr-bio blockquote {
    border-left: 2px solid gray;
    margin-inline-start: 1rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
}

#writr-bio pre {
    overflow: auto;
    border-left: 2px solid black;
    padding: 1rem;
}

#writr-bio pre,
#writr-bio code {
    font-family: inherit;
}

#writr-bio code {
    border-radius: 0.2rem;
    padding: 0.2rem;
    color: rgb(24, 89, 24);
}

#writr-bio pre>code {
    padding: 0;
}

#writr-bio li.checkbox[checked=true]::marker {
    content: '󰱒 ';
    color: gray;
    font-family: 'NerdFont';
}

#writr-bio li.checkbox[checked=false]::marker {
    color: gray;
    content: '󰄱 ';
    font-family: 'NerdFont';
}

#writr-bio .img-wrapper {
    display: flex;
}

#writr-bio .img-wrapper>a {
    border: 2px solid black;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    gap: 1rem;
    flex-grow: 0;
}

#writr-bio h1 {
    font-size: 1.6rem;
}

#writr-bio h2,
#writr-bio h3,
#writr-bio h4,
#writr-bio h5,
#writr-bio h6 {
    font-size: 1.2rem;
}