#writr-preview {
    margin: 0.2rem;
    line-height: 1.4;
    padding: 1rem;
    display: none;
    overflow-y: scroll;
}

#writr-preview blockquote {
    border-left: 2px solid gray;
    margin-inline-start: 1rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
}

pre,
code {
    font-family: inherit;
    background-color: #f0f0f0;
    padding: 0.2rem;
    border-radius: 0.2rem;
}

#writr-preview li.checkbox[checked=true]::marker {
    content: '󰱒 ';
    color: gray;
    font-family: 'NerdFont';
}

#writr-preview li.checkbox[checked=false]::marker {
    color: gray;
    content: '󰄱 ';
    font-family: 'NerdFont';
}

#writr-preview .img-wrapper {
    display: flex;
}

#writr-preview .img-wrapper>a {
    border: 2px solid black;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    gap: 1rem;
    flex-grow: 0;
}

#writr-preview h1 {
    font-size: 1.6rem;
}

#writr-preview h2,#writr-preview h3, #writr-preview h4, #writr-preview h5, #writr-preview h6 {
    font-size: 1.2rem;
}