@font-face {
    font-family: 'NerdFont';
    src: url(/fonts/NerdFont-stripped.ttf);
}

.icon {
    font-family: 'NerdFont' !important;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'CMU Typewriter Text', monospace;
    font-display: swap;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #ddd;
}

.button {
    text-align: center;
    border: 2.5px solid grey;
    border-radius: 0;
    padding: 0.2rem;
    background-color: white;
    cursor: pointer;
    min-width: 4ch;
    font-family: 'CMU Typewriter Text', monospace;
    font-weight: bold;
    font-size: 1rem;
    display: inline-block;
}

a, a:link, a:visited {
    color: black;
}

@media screen and not (hover: none) {
    .button:hover {
        border-color: black;
    }
}

.button.icon {
    padding-left: 0;
}